body, html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-2 {
    background-position: center;
    background-size: cover;
    background-image: url("img/supplies2.jpg");
    width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}

.myColor{
	background-color: #a01394; 
	color: #39ff14
}
.myColor a{
	color: #39ff14;
}
.myColor2{
	background-color: #39ff14; 
	color: #a01394
}
.myTextColor2{
	color: #a01394;
}

.NoBullet{
	list-style-type:none;
}

.NoUnderline{
	text-decoration:none;
}
.NoUnderline:hover{
	text-decoration:underline;
}

.italics{
	font-style:italic
}
.bold{
	font-weight:bold
}
.underline{
	text-decoration:underline;
}
.NeonGreen{
	color:#39ff14; 
	text-shadow: 2px 2px black;
}

td{
	padding:10px;
	text-align:center;
}
	
@media only screen and (max-width: 300px){
	.bgimg-2{
		margin-top: 120px;
		padding-top: 25%;
		height:90%
	}
	#about{margin-top:150px}
}